.profile-bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(10, 25, 47, 0.85),
      rgba(10, 25, 47, 0.85)
    ),
    url("C:\Users\AI\Desktop\ReactProjects\face_authentication\frontent\src\assets\images\profile-bg.jpg") no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.id-card {
  margin-top: 100px;
  background: white;
  width: 350px;
  height: 345px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.profile-img {
  width: 60px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #0a192f;
}

.id-card h2 {
  margin-bottom: 10px;
  color: #0a192f;
}

.info p {
  margin: 6px 0;
  font-size: 15px;
}

.profile-loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
