body{
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  background-image: url("../assets/images/S_Backgrounds.jpg");
  background-size:auto;
  background-position: left;
}

.main_container{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
  width:100%;
}
.container{
  position: relative;
  display: flex;
  width:90vw;
  height: 90vh;
  margin:auto;
  background-color: #fff;
  background: linear-gradient(to right,#ffffff 55%,rgba(255,255,255,0)100%);
  overflow:hidden;
  border-radius: 20px;
 /* box-shadow: 0 8px 25px rgba(0,0,0,0.1);*/
  border:4px solid #4a90e2;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.container::after {
  content: "";
  position:absolute;
  right:0;
  top:0;
  width:50%;
  height: 100%;                                     /* right side occupies half space */
   
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/TLogin.jpeg");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:0;
}

.form-container{
  background-color:white;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width:400px;
  position:absolute;
  left: 100px;
}

.form-toggle{
  display:flex;
  justify-content:space-between;
  margin-bottom: 20px;
}
.form-toggle button{
  width:50%;
  padding:10px;
  background-color: #f3f3f3;
  border:none;
  cursor:pointer;
  font-size: 16px;
  border-radius:10px 10px 0 0 ;
}
.form-toggle .active{
  background-color: #2597de;
  color:white;
}

.Loginform{
  display:flex;
  flex-direction: column;
  font-size: 15px;
}
.Loginform h2{
  margin-bottom: 20px;
  color: #0359b4;
}
.Loginform input{
  padding:10px;
  margin-bottom:10px;
  border:1px solid #ddd;
  border-radius:5px;
}
.Loginform button{
  padding:10px;
  background-color: #198cd4;
  color: white;
  cursor:pointer;
  font-size: 16px;
  border: none;
  border-radius:5px ;

}
.Loginform a{
  color:#007bff;
  text-align: right;
  margin-bottom:10px;
  text-decoration: none;
}
.Loginform p{
text-align: center;
}
