body{
  font-family:Arial, Helvetica, sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:100vh;
  margin:0;
  background-image:url("../src/assets/images/bg.jpeg");
  background-size:cover;
  background-position: left;
}
.header{
    position:relative;
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'poppins' , sans-serif;
    color:white;
    overflow: hidden;
}
.navigation{
    position:absolute;
    margin-top: 20px;
    margin-left: 50px;
}
.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:30px;
}
.navigation a{
    font-family: 'poppins' , sans-serif;
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition:color 0.3s;
}
.navigation a:hover{
    color:#0077b6;
}
.text-box h1{
    margin-top:250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
}
.text-box p{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 100;
}